<div class="d-flex align-items-center mb-3">
  <input
    #searchHeroes
    type="text"
    class="form-control me-3"
    style="max-width: 300px"
    placeholder="Search heroes…"
    [value]="filter()"
    (input)="filter.set(searchHeroes.value)"
  />

  <div class="form-check form-switch">
    <input
      #retiredCheckbox
      class="form-check-input"
      type="checkbox"
      id="showRetiredSwitch"
      [checked]="showRetired()"
      (change)="showRetired.set(retiredCheckbox.checked)"
    />
    <label class="form-check-label" for="showRetiredSwitch">
      Show retired
    </label>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Suit Color</th>
        <th>Has Cape</th>
        <th>Last Mission</th>
        <th>Retired</th>
      </tr>
    </thead>
    <tbody>
      @for (hero of filteredHeroes(); track hero.id) {
      <tr>
        <td>{{ hero.name }}</td>
        <td
          [style.backgroundColor]="hero.suitColor"
          [style.color]="getContrastColor(hero.suitColor)"
        >
          {{ hero.suitColor }}
        </td>
        <td>
          @if (hero.hasCape) {
          <i class="fa-solid fa-check-circle"></i>
          } @else {
          <i class="fa-solid fa-times-circle"></i>
          }
        </td>
        <td>{{ hero.lastMission | date }}</td>
        <td>
          @if (hero.isRetired) {
          <i class="fa-solid fa-check-circle"></i>
          } @else {
          <i class="fa-solid fa-times-circle"></i>
          }
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
